<div class="table">

    <div class="top">
        <h2>Appointment History</h2>
    </div>
  
    <table>
        <p>Appointments for Patient: FZJXKBND </p>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Date</th>
                <th>Doctor</th>
                <th>Reason For Visit</th>
                <th>Prescription</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FZJXKBND</td>
                <td>2023-04-08</td>
                <td>Hadcock</td>
                <td>Nescol</td>
                <td>risperidone</td>
              
                
            </tr>
             <tr>
                <td>FZJXKBND</td>
                <td>2023-07-09</td>
                <td>Hadcock</td>
                <td>Nescol</td>
                <td>Sodium Fluoride</td>
                
            </tr>
        </tbody>
    </table>
  
    
  </div>    