<div class="table">

    <div class="top">
        <h2>Edit Personal Details</h2>
    </div>
  
    <table>
        <p>Person Details for Patient: FZJXKBND </p>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Insurance ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="patient-row">
                <td>FZJXKBND</td>
                <td>Skyler</td>
                <td>Chichgar</td>
                <td>5530 Independence Circle</td>
                <td>schichgarh@constantcontact.com</td>
                <td>107 609 4159</td>
                <td>49125477</td>
                <td>
                    <button class="btn action-btn" id="edit-btn"><i class="fas fa-edit"></i> Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

