<div class="table">

    <div class="top">
        <h2> Prescriptions</h2>
    </div>
  
    <table>
        <p>Prescriptions for Patient: FZJXKBND </p>
        <thead>
            <tr>
                <th>Prescription ID</th>
                <th>Date Prescribed</th>
                <th>Dosage</th>
                <th>Duration (days)</th>
                <th>Comment</th>
                <th>Drug Name</th>
                <th>Doctor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1634654226</td>
                <td>2023-04-08 </td>
                <td>16</td>
                <td>98</td>
                <td>Take twice a day on a full stomach  </td>
                <td>risperidone</td>
                <td>Ole Hadcock</td>
                
            </tr>
            <tr>
                <td>3353148299</td>
                <td>2023-07-09  </td>
                <td>11</td>
                <td>13</td>
                <td>Take once a day before goig to sleep. Dont eat 2 hours prior to taking </td>
                <td>Sodium Fluoride</td>
                <td>Ole Hadcock</td>
                
            </tr>
        </tbody>
    </table>
  
    
  </div>    