<div class="table">

    <div class="top">
        <h2>Appointment History</h2>
    </div>
  
    <table>
        <p>Appointments for Patient: FZJXKBND </p>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Insurance ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>30150526</td>
                <td>Masego</td>
                <td>Mathibako</td>
                <td>Nescol</td>
                <td>30150526@nescol.ac.uk</td>
                <td>07123456789</td>
                <td>49125477</td>
                <td>
                    <button class="btn action-btn"><i class="fas fa-edit"></i> Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
  
    
  </div>    