<div class="table">

  <div class="top">
      <input type="text" id="search" class="search-box" placeholder="Enter Doctor ID">
      <button class="btn primary-btn"><i class="fas fa-search"></i> Search</button>
      <button class="btn dropdown-btn">Filter Options <i class="fas fa-caret-down"></i></button>
  </div>

  <table>
      <thead>
          <tr>
              <th>Doctor ID</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Address</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Insurance ID</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>30150526</td>
              <td>Masego</td>
              <td>Mathibako</td>
              <td>Nescol</td>
              <td>30150526@nescol.ac.uk</td>
              <td>07123456789</td>
              <td>49125477</td>
              <td>
                  <button class="btn action-btn"><i class="fas fa-edit"></i> Edit</button>
                  <button class="btn action-btn"><i class="fas fa-trash"></i> Delete</button>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="bottom">
      <div class="load-options">
          <button class="btn load-btn"><i class="fas fa-users"></i> Load Doctors</button>
          <button class="btn load-btn"><i class="fas fa-user-shield"></i> Load Specialists</button>
      </div>
  </div>
</div>    